* {
    box-sizing: border-box;
}

*::selection {
    color: none;
}

*:hover {
    cursor: default;
}

body {

    background-color:  #2050b8;
    margin: 0;
    padding: 0;

}

#container {

    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
    overflow: hidden;

}

#menu {
    
    width: 100%;
    min-height: 35px;
    background-color: #6B4B00;

}

#main {

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #2050b8;

}

#clickarea {

    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

}

#upgradeMenu {

    height: 100%;
    width: 270px;
    background-color: #1247B8;
    border: 4px solid #0E2B6B;
    border-radius: 0 0 0 15px;
    overflow-x: hidden;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#score {

    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    color: whitesmoke;
    position: relative;
    z-index: 1;

}

#prestiege {

    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    background-color: #f9f4e3;
    border: 4px solid #e8d595;
    text-align: center;
    font-size: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    cursor: pointer;
}

#prestiege:hover {

    background-color: #e8d595;
    border: 4px solid #f9f4e3;
}

#alert {
    
    text-align: center;
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f9f4e3;
    color: #222222;
    border-radius: 50px;
    position: absolute;
    top: calc((100% - 300px) / 2);
    left: calc((100% - 700px) / 2);
}

#backgroundMax {

    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
}

#coronavirus::after {

    content: "";
    width: 350px;
    height: 356px;
    position: absolute;
    top: calc((100% - 356px) / 2);
    left: calc((100% - 350px) / 2);
    background-image: url("Img/coronavirus.png");
    overflow: hidden;
    cursor: pointer;
    border-radius: 160px;
    -webkit-animation:spin 20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    animation:spin 20s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@media screen and (max-width: 600px) {
    #coronavirus::after {
        width: 196px;
        height: 200px;
        top: calc((100% - 200px) / 2);
        left: calc((100% - 196px) / 2);
        background-image: url("Img/coronavirus2.png");
    }
    #score {
        font-size: 28px;
        padding-top: 40px;
    }
    #secondCounter {
        font-size: 20px;
    }
}

@media screen and (max-height: 600px) {
    #coronavirus::after {
        width: 196px;
        height: 200px;
        top: calc((100% - 200px) / 2);
        left: calc((100% - 196px) / 2);
        background-image: url("Img/coronavirus2.png");
    }
}
#options {

    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #002596;
    border-bottom: 4px solid #0E2B6B;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;

}

#upgrades {

    width: 50%;
    height: 100%;
    padding-top: 4px;
    text-align: center;
    margin: auto;
    border-right: 2px solid #0E2B6B;
    transition: all 500ms;
    position: relative;
}

#upgrades:hover {
    background-color: #B8840D;
    cursor: pointer;
}

.icon-up-circle {

    transition: all 500ms;
}

#upgrades:hover > .icon-up-circle {

    color: black;
    cursor: pointer;
}

#hospitals {

    width: 50%;
    height: 100%;
    padding-top: 5px;
    text-align: center;
    margin: auto;
    border-left: 2px solid #0E2B6B;
    transition: all 500ms;
    position: relative;
}

#hospitals:hover {

    background-color: #B8840D;
    cursor: pointer;
}

.icon-hospital {

    transition: all 500ms;
}

#hospitals:hover > .icon-hospital {
    color: black;
    cursor: pointer;
}

#scoreSpan {

    color: #B8840D;
    font-size: 53px;
    font-family: 'Courier New', Courier, monospace;
}

#secondCounter {

    margin-top: 10px;
    font-size: 24px;
    color: #222222;
    font-family: 'Courier New', Courier, monospace;
}

#secondScore {

    color: #209781;
    font-size: 30px;
}

#upgButton {

    color: rgb(223, 217, 217);
}

#upgradeList {

    width: 100%;
    height: auto;
    text-align: center;
    overflow-y: auto;
    overflow: auto;
}

#hospitalList {

    width: 100%;
    height: auto;
    text-align: center;
    overflow-y: auto;
    overflow: auto;
}

.listTitle {

    font-size: 36px;
    font-weight: bold;
    color: rgb(240, 238, 238);
    letter-spacing: 4px;
    margin-top: 10px;
}


.name {

    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}

.upgradeLook {

    background-color: #FFBF2B;
    position: relative;
    cursor: pointer;
    margin: 0 5px;
    margin-bottom: 15px;
    border: 4px solid #DD9D09;
    border-radius: 15px;
    transition: all 400ms;
    position: relative;
    overflow: hidden;
}

.upgradeLookv2 {

    background-color: #FFBF2B;
    position: relative;
    cursor: pointer;
    margin: 0 5px;
    margin-bottom: 15px;
    border: 4px solid #DD9D09;
    border-radius: 15px;
    transition: all 400ms;
    position: relative;
    overflow: hidden;
}

.upgradeLook:hover {

    background-color: #DD9D09;
    border: 4px solid #FFBF2B;
}

.upgradeLookv2:hover {

    background-color: #DD9D09;
    border: 4px solid #FFBF2B;
}

.nowPoints {

    margin-top: 7px;
    font-weight: bold;
}

.upgrade-label {

    text-align: left;
    margin-top: 8px;
    font-weight: bold;
}

.nextLvl {

    text-align: left;
    margin-left: 10px;
    margin-top: 1px;
}

.cost {

    width: calc(50% - 10px);
    text-align: left;
    margin-left: 10px;
    float: left;
}

.lvl {

    width: calc(50% - 10px);
    text-align: right;
    font-weight: bold;
    float: left;
}

.upgradeBack {

    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    top: -4px;
    left: -4px;
    border-radius: 15px;
    cursor: pointer;
}

.listVisible {

    display: block;
}

.listHidden {

    display: none;
}

.upgradeIconUpgr {

    width: calc(100% + 2px);
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    border-radius: 10px 0 0 0;
}

.upgradeIconHosp {

    width: 100%;
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

#barBorder {

    width: 90%;
    height: 40px;
    border: 3px solid black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 3px;
    border-radius: 15px;
    overflow: hidden;
    color: whitesmoke;
    position: absolute;
    bottom: 10px;
    left: calc((100% - 90%) / 2);
}

#bar {

    height: 34px;
    border-radius: 12px;
    background-color: #B84832;
    position: absolute;
    top: 0;
    left: -3px;
}

#resPerSec {

    height: 25px;
    color: rgb(190, 190, 190);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 60px;
    left: 0;
}

#resSpan {

    color: rgb(204, 72, 72);
    font-size: 28px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#menuHide {

    color: whitesmoke;
    font-size: 31px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: #1247B8;
    width: 100px;
    text-align: center;
    border: 4px solid #0E2B6B;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

#menuHide:hover {

    background-color: #2358C9;
    border: 4px solid #1F3C7C;
}