*{
    box-sizing: border-box;
}

body{
    background-color: #191919;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main{
    border: 5px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 1500px;
    height: 900px;
    min-width: 1500px;
    min-height: 900px;
    background-color: #222222;
    margin: 0 auto;
}

#menu {
    border: 4px solid #333333;
    color: rgb(172, 172, 172);
    border-radius: 10px 10px 0 0;
    font-size: 18px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuSpan {
    margin-right: 20px;
}

#menu label {
    margin: 0 10px 0 30px;
}

#menu input{
    background-color: rgba(255,255,255,0.1);
    border: none;
    outline: none;
    padding: 5px;
    color: white;
}

.btn {
    color: rgb(172, 172, 172);
    margin-left: 40px;
    background-color: rgba(255,255,255,0.1);
    border: none;
    outline: none;
    padding: 5px 20px;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(255,255,255,0.05);
    border: 2px solid rgba(255,255,255,0.15);
}

#holderDiv{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
}

#arena {
    width: 80%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#list{
    width: 20%;
    border: 4px solid #333333;
    border-radius: 0 0 10px 0;
    border-top: none;
    /* overflow-y: scroll; */
}

.arenaColumn{
    display: flex;
    flex-direction: column;
}

.arenaField{
    border: 1px solid white;
}

.listItem{
    margin: 0 auto;
    width: 96%;
    height: 100px;
    font-size: 24px;
    color: rgb(172, 172, 172);
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.listItem:hover{
    background-color: rgba(255,255,255,0.1);
    border: 4px solid rgba(255, 255, 255, 0.2);
}

.listItemMiniature{
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    position: absolute;
    right: 30px;
}

#toJSON{
    margin-left: 350px;
    padding: 15px 30px;
}