*{
    box-sizing: border-box;
}
body{
    background-color: #2F3336;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
}
#main{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#list{
    min-width: 600px;
    width: 50vw;
    background-color: #1E2225;
    border: 5px solid  #39a5f1;
    border-radius: 20px;
    overflow: hidden;
}
.zadanie{
    padding: 25px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid  #39a5f1;
    text-decoration: none;
    color: whitesmoke;
    transition: background-color 0.2s;
}
.zadanie:visited{
    color: whitesmoke;
    text-decoration: none;
}
.zadanie:hover{
    background-color: #2F3336;
}
.zadanie:last-child{
    border: none;
}
.title{
    font-size: 20px;
}

@media (max-width: 600px){
    #list{
        min-width: 0px;
        width: 100vw;
    }
}